
*, *::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ol {
    list-style: decimal;
    margin-left: 1.5rem;
  }
  
  ul {
    list-style: disc;
    margin-left: 1.5rem;
  }
  li{
    margin-bottom: 0.5rem;
  }

body{

    font-family: Arial , sans-serif;
    font-family: 'Comic Sans MS', 'Poppins', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: #fef6e4;
}

.container{
<<<<<<< HEAD
=======
    display: grid;
>>>>>>> 82a6ed3edead6923d94e64904a235cf62ae2f0e2
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas: 
        "header"
        "beschreibung"
        "mint"
        "fun-fact"
        "footer"
    ;
    gap: 1rem;
    background-color: rgb(166, 183, 210);
    width: 100%;
    height: auto;
   
    
}
/*Header*/
[class$="header"]{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; 
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-image: url('../images/headerbackground.jpg');
    height: 12em;
    background-position: center;
    background-size: cover;
   
}
.header_menu{   
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    top: 3rem;
    right: 1rem;
    padding: 1rem;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.95); /* Fond blanc semi-transparent */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    z-index: 1000;
   
}
.header_menu.active {
    display: flex;
   
}
.header_menu a{
    color: #1e1d1d;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 0;
    margin-left: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
   
}


.header_menu a::after{
    content: "";
    position: absolute; 
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #f87619;
    transition: width 0.3s ease, left 0.3s ease;
}


.header_menu a:hover::after {
    width: 100%; 
    left: 0;
}


.header_menu a:hover {
    color: #f87619; 
    transform: translateX(2px); 
  }
  
.header_menu a:last-child {
    border-bottom: none;
  }
  
.header_menu a i{
    margin-right: 0.5rem;
    color: #f87619;
    transition: color 0.3s ease;

}

.header_menu a:hover i {
    color: #ffffff;
}

.fa-bars{
    font-size: 2rem;
    color:rgb(62, 57, 57);
    cursor: pointer;
    transition: color 0.3s ease;  
    
}
.fa-bars:hover {
    color: #f87619;
}

[class$="title"]{
    position: absolute;
    top: -1.5em;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(248, 76, 19, 0.9);
    padding: 0.5em;
    color: white;
    transform: rotate(-3deg);
    /*-3 rote dans le sens contraire d'une montre et +3 dans le sens des aiguilles du montre*/

}

/*Beschreibung*/

[class$="beschreibung"]{
    position: relative;
    grid-area: beschreibung;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.3em;
    border: 1.5px groove #333;
    background-color: bisque;
    margin-top: 1.5em;
    height: auto;

}

/*Mint Section*/

.mint-section{
    grid-area: mint;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 1rem 1.5rem;
    
}

.mint-item{
    text-align: center;
    background-color: #f5f5f5;
    padding-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mint-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
.mint-item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  
.mint-item figcaption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
  }

.fun-fact{
    grid-area: fun-fact;
    background-color: #cfcfcf;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 100%;

  }

footer{
    grid-area: footer;
    text-align: center;
    background-color: #bfbfbf;
    padding: 1rem;
    border-radius: 8px;

  }

<<<<<<< HEAD
  
  /*START--------------------Mathe.css----------------------------*/
  
  /*---------------Main-container_Box------------------*/
.Mathe_container{
    display: grid;
    grid-template: 
    "header"
    "beschreibung"
    "bruchzahl"
    "geometrie"
    "uebung"
    "footer";
    background-color:rgb(135, 216, 158);
    width: 100%;
    row-gap: 1em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    line-height: 1.5; /* 1.5 times the font size for body text */
}
h1{
    font-size: 2rem; /* Adjust as needed */
    font-weight: bold;
}

.Mathe_container ul>li{
    display: list-item;
    list-style-type: disc;
    margin-inline-start: 4em;
}
.Mathe_container ol>li{
    display: list-item;
    margin-inline-start: 2em;
}
.content_Mathe_uebung ol>ol{
    display: list-item;
    margin-inline-start: 2em;
}
/*---------------Header_Box------------------*/
.Mathe_header{
    grid-area: header;
    background:
    url(../images/Bild12.jpg);
    background-position: center;
    background-size: cover;
   
}

/*---------------Description_Box------------------*/
.Mathe_beschreibung{
    padding-top: 2em;
    background-color: hsl(210, 100%, 90%);
    width:100%;
    height:auto;
}

/*.Mathe_beschreibung>*/

.Mathe_beschreibung>ul li a:hover{
    text-decoration: none;
    color: orange;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}


/*---------------Content_Box------------------*/

/*for all boxes together in Mathe_content*/
[class^="content_Mathe"]{
    position: relative;
    height: auto;
    margin: auto 1em;
    margin-top: 2em;
    background-color: rgba(204, 255, 229, 1);
    line-height: 1.6;
    font-family: "Fredoka One", sans-serif;

}
[class^="content_Mathe"] div:nth-of-type(2),form{
    margin: auto 1em;
}
/*underline span in Mathe_content*/
[class^="content_Mathe"]>div>ol>ul>li span{
    text-decoration: underline;
}

/*for uniq content element in Math_content*/
[class$="Mathe_bruchzahl"]{
    display: flex;
    grid-area: bruchzahl;
}

[class$="Mathe_geometrie"]{
    grid-area: geometrie;
}

[class$="Mathe_uebung"]{
    grid-area: uebung;
    background-color: rgba(255, 253, 204, 1);
}

/*Videos in Mathe_content*/
[class*="Mathe_video"]{

    margin-top: 1em;
    background-color:rgba(255, 165, 0, 1);
}
[class*="Mathe_video"] iframe{
    width: 100%;
    min-height: 20em;
}
[class*="Mathe_video"] >figcaption{
    border-top: 0.4em solid red;
    background-color:rgba(255, 165, 0, 1);

}
/*---------------Footer_Box------------------*/
.Mathe_footer{
    background-color: green;
    width: 100%;
    height: 10em;
    border-radius: none;
    grid-area: footer;

}
/*END---------------------Mathe.css-------------------------------*/


@media screen and (min-width:600px){
=======

/*Naturvissenschaft*/

.naturwissenschaft_container {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "beschreibung"
        "experiment"
        "mint"
        "quiz"
        "fun-fact"
        "footer";
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 100vh;
    
}

  .naturwissenschaft_beschreibung {
    grid-area: beschreibung;
    padding: 1rem;
    background-color: bisque;
    border-radius: 8px;
    margin: 2rem auto;
    text-align: center;
    
  }
  .naturwissenschaft_mint {
    grid-area: mint;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    background-color: #ef89ef;
    padding: 1rem;
    
  }
  .water_rise{
    grid-area: experiment;
    margin: 0 auto;
    text-align: center;
    background-color: #e8f5e9; /* Vert clair pour différencier */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.naturwissenschaft_quiz {
    position: relative;
    grid-area: quiz;
    background-color: #f9f9f9;
    background-color: #0077be;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}
.naturwissenschaft_funfact {
    grid-area: fun-fact;
    background-color: #f4f9fd;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  
  
  
.naturwissenschaft_container .fa-bars:hover , .naturwissenschaft_container .header_menu a:hover{
    color: green;

}
.naturwissenschaft_container .header_menu a::after{
    background-color: green;
}
.naturwissenschaft_container .header_menu a i{
    color: #077a37;
}
.h3_title,.naturwissenschaft_title{
    background-color: green;
    font-size: 1.2em;
   
}
.h3_title{
    top: 0;
}
.hidden {
    display: none;
}
/* Section spécifique à l'expérience */


.water_rise h2 {
    font-size: 1.8rem;
    color: #2e7d32; /* Vert foncé */
    margin-bottom: 1rem;
}

.water_rise p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

/* Conteneur de l'expérience */
.water_rise_exp {
    margin: 1rem auto;
    max-width: 400px;
}

.exp_area {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #cfe2f3; /* Bleu clair */
    border: 2px solid #333;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

/* Eau, bougie et verre */
.water {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #0077be; /* Bleu de l'eau */
}

.candle {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 70px;
    background-color: #ffcc00;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.flame {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #ff4500;
    border-radius: 50%;
    display: none; /* La flamme est éteinte par défaut */
    animation: flicker 0.2s infinite alternate;
}

.glass {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #ccc;
    transition: width 1s, height 1s;
}

.hidden {
    display: none;
}

button#lightCandle {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#lightCandle:hover {
    background-color: #ffae00;
}


  
#answer{
    background-color: #e3f2fd;
    border-left: 5px solid #42a5f5;
    font-weight: bold;
    color: #1e88e5;
    padding: 1rem;
    margin-top: 1rem;
    line-height: 1.6;
    border-radius: 5px;
    margin-bottom: 0.8em;
    transition: all 0.3 ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

#reveal-button{
  background-color: #077a37;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 0.7em;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

}
#reveal-button:hover{
    background-color: #08642e;
}

.naturwissenschaft_mint{
    grid-area: mint;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    padding: 2rem 1.5rem;
    background-color: rgb(252, 250, 254);
    position: relative;
    margin-top: 3rem;

}
[class^="experiment_content"]{
    position: relative;

}


[class$="experiment"]{
    background-color: rgb(195, 221, 203);
    padding: 1em;
    display: flex;
    flex-direction:column;
    
}

.experiment-description>h4 , .naturwissenschaft_lektion h4{
    font-size: 1em;
    font-weight: bold;
    margin: 0.8em 0;

}

iframe {
    border: 5px solid green;
    border-radius: 15px;
}


.experiment-description{
    align-items: left;
    margin-top: 1em;

}

footer {
    background-color:bisque;
    color: rgb(7, 7, 7);
    padding: 1em;
    font-size: 1.2rem;
}

#audio-container{
    position: absolute;
    right: 1em;
    top:-3em;
    background-color: #f8c471;
    border-radius: 1.5em;
    padding: 0.6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; 
}
#audio-container button {
    background-color: #3498db;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    
  }
  #audio-container button:hover {
    transform: scale(1.1);
  }

  /* Section Quiz */
  
  
  
  .quiz_title {
    font-size: 1.5rem;
  }
  .quiz_item {
    margin-bottom: 1.5rem;
  }
  .quiz_item p{
    margin-bottom: 1rem;
  }
  
  .quiz_item h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  .quiz_item ul {
    list-style: none;
    padding: 0;
  }
  .quiz_item li {
    margin-bottom: 0.8rem;
  }
  .quiz_item input {
    margin-right: 0.5rem;
  }
  #quiz_submit {
    display: block;
    margin: 3em auto;
    padding: 0.8rem 2rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  #quiz_submit:hover {
    background-color: #388e3c;
  }
  
  #quiz_result {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  /* Fun Fact Section */

  .funfact_title {
    font-size: 1.8rem;
    color: #007acc;
    margin-bottom: 1.5rem;
  }
  
  .funfact_list {
    list-style-type: none;
    padding: 0;
  }
  
  .funfact_list li {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #333;
    background-color: #eaf5fd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .funfact_list li strong {
    color: #007acc;
  }
  
  .funfact_list li:nth-child(even) {
    background-color: #dff0fc;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media screen and (min-width:768px){
>>>>>>> 82a6ed3edead6923d94e64904a235cf62ae2f0e2
    .fa-bars{
        display: none !important;
    }
    [class$="header"]{
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 35em;
    }


    .header_menu {
        display: flex;
        flex-direction: row;
        position: static;
        gap:1rem;
        width:auto;
        background-color: #fff;
        margin-left: 1em;
        box-shadow: none;
        padding: 1.2rem;
        
      }
    
      .header_menu a {
        border: none;
        white-space: nowrap;
      }
      
    
<<<<<<< HEAD
    .container{
        grid-template-columns: 1fr 1fr;
=======
    .naturwissenschaft_container{
        grid-template-columns: repeat(8, 1fr); /* 8 colonnes */
>>>>>>> 82a6ed3edead6923d94e64904a235cf62ae2f0e2
        grid-template-areas:
            "header header header header header header header header"
            "beschreibung beschreibung beschreibung beschreibung experiment experiment experiment experiment"
            "mint mint mint quiz quiz fun-fact fun-fact fun-fact"
            "footer footer footer footer footer footer footer footer";
    }
       
    } 
<<<<<<< HEAD

    .mint-section{
        grid-template-columns: repeat(4, 1fr);
    }  
    
 /*START--------------------Mathe.css----------------------------*/
 [class*="Mathe_video"]{
    padding: 0 2em;
    margin-top: 1em;
}
}
=======
    .naturwissenschaft_mint{
        grid-template-columns: repeat(2, 1fr);
        
    }  

  
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 18px;
      margin: 0 auto;

    }
    [class$="beschreibung"]{
        font-size: 1.6em;
    }
  
    .naturwissenschaft_container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            "header header header header header header header header header header header header"
            "beschreibung beschreibung beschreibung beschreibung beschreibung beschreibung beschreibung experiment experiment experiment experiment experiment"
            "mint mint mint mint mint mint quiz quiz quiz fun-fact fun-fact fun-fact"
           "footer footer footer footer footer footer footer footer footer footer footer footer";
    
      }
      .naturwissenschaft_beschreibung>*{
       margin-bottom: 2rem;
      }
    .naturwissenschaft_mint {
      grid-template-columns: repeat(2, 1fr); 
      gap: 2rem;
    }
  
  }
  @media screen and (min-width: 1440px) {
    
    .naturwissenschaft_container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            "header header header header header header header header header header header header"
            "beschreibung beschreibung beschreibung beschreibung beschreibung beschreibung beschreibung experiment experiment experiment experiment experiment"
            "mint mint mint mint mint mint quiz quiz quiz quiz fun-fact fun-fact"
            "footer footer footer footer footer footer footer footer footer footer footer footer";

            max-width: 1400px;
            margin: 0 auto;
    }


    
  }
>>>>>>> 82a6ed3edead6923d94e64904a235cf62ae2f0e2
